interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['639462']
      ocp-aad-diagnostics-server-name: [K6rldxMxky7aVh9vRPlXWYskRYxAISeuZjxkHfljrVA=]
      ocp-aad-session-key: [WFz1b_RxK4fGL0IbLeYtq5Uzy0azfsjtrOR8OtbyDUd12xQZgosnf2g1_ECwRhf4q4Tfgbssi4znZnv-w38QUpBzR204b1AO5Sbhde5AfOMhj1Wvh449SpfpRpagt3DLKpcopM1gYljzT41SZivysw.R4ueFJWLjM0r70DgcUREuUllYfRLYlOIm0yFbsvmC3k]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"homepage": "https://cli-app-000001", "identifierUris": ["http://cli-app-000001"],
      "objectType": "Application", "displayName": "cli-app-000001", "availableToOtherTenants":
      false, "passwordCredentials": [{"value": "39cfc64f-acc9-4f55-833e-1d6d34d5556f",
      "customKeyIdentifier": "//5yAGIAYQBjAA==", "keyId": "a88a3237-9966-4287-84a5-b89c28f9c12f",
      "startDate": "2019-02-24T03:44:41.277802Z", "endDate": "2020-02-24T03:44:41.277802Z"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"e4a4a67b-fc94-4da8-81f6-e6d411c0dc61","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"2d794e8d-1451-4e32-bef2-3cdd2b02f81c","appRoles":[],"availableToOtherTenants":false,"displayName":"cli-app-000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://cli-app-000001","identifierUris":["http://cli-app-000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/e4a4a67b-fc94-4da8-81f6-e6d411c0dc61/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/e4a4a67b-fc94-4da8-81f6-e6d411c0dc61/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"9c1ee11a-252e-43c5-a491-fb0b2e709bd0","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-02-24T03:44:41.277802Z","keyId":"a88a3237-9966-4287-84a5-b89c28f9c12f","startDate":"2019-02-24T03:44:41.277802Z","value":null}],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['5156243']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/e4a4a67b-fc94-4da8-81f6-e6d411c0dc61/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [bjwfCHqIrtGB+z8zTamk9qnExmWtx2/qGwNbbFSoSzc=]
      ocp-aad-session-key: [tonfVqnVZwg8cbIsOkiQZpIYK6-k12H5e3IWUUQ1PPM1bDdi0U6j3CZtASl-JEgkUHRNxo5HnTeWyEw1_ZVkCDS3K8Ef8R2ufntLI1JbxEcMQs4mitCwioK3V6-lZETqS7w0xa_0rInHzOSvJvAq3A.88Z1fn0yVjeidfiVNaFgmqtBa1y13AuUmbTtg52-QWc]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"objectType": "ServicePrincipal", "appId": "2d794e8d-1451-4e32-bef2-3cdd2b02f81c",
      "accountEnabled": "True"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"86c33e45-69fe-430c-bd52-a73b0233d27c","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"2d794e8d-1451-4e32-bef2-3cdd2b02f81c","appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"9c1ee11a-252e-43c5-a491-fb0b2e709bd0","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["2d794e8d-1451-4e32-bef2-3cdd2b02f81c","http://cli-app-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['3155748']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/86c33e45-69fe-430c-bd52-a73b0233d27c/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [XC37a6rlJsCeGLMfJenTNZI4+ije7D/luiwxI9jCogI=]
      ocp-aad-session-key: [cyUS9vNjH58eqV8OMGOzTaUzkuUcYXuaQ0pH4O5AbxNaVxxBMVNMp3GcIddjQktvbXDZGGqknFExtafZx-VHy-CvmWdVmSt7y_NoGVCudw687UglvZFeKoPFWao0F07pZHd9REAHCclKSNr-kXMnVA.DSg5zjjnZRBivpTJfZ83y7WvY0LtBC1BlkPmY3HTQ58]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","object[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/86c33e45-69fe-430c-bd52-a73b0233d27c?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"86c33e45-69fe-430c-bd52-a73b0233d27c","deletion[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"e4a4a67b-fc94-4da[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/e4a4a67b-fc94-4da8-81f6-e6d411c0dc61/passwordCredentials?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)","value":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-02-24T03:44:41.277802Z","keyId":"a88a3237-9966-4287-84a5-b89c28f9c12f","startDate":"2019-02-24T03:44:41.277802Z","value":null}]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['608845']
      ocp-aad-diagnostics-server-name: [2Gv1gQSfiKJpA3rt4Mi13yQYs8l/cSGK1elzeDUE/p8=]
      ocp-aad-session-key: [fnDxhFmqiLc5Dm5cgla7EHpNiQ2R85lsBiIV6J5FVQRbfjY7XbY4uOaHXXDR30iW1JPPRHWHkGS6bqaf7Ispe3_4H-YQXxvhn7_aPUe-T6TO5YBBLEq92799RGVrFyLbcD4w9g2eMtYrLOlECgwFPg.sa_Arcj8IOF-Fh81xNvn-uQGzioxNAHc5iIOCKBsIO0]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29%20or%20displayName%20eq%20%27http%3A%2F%2Fcli-app-000001%27
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServic[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%272d794e8d-1451-4e32-bef2-3cdd2b02f81c%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['523459']
      ocp-aad-diagnostics-server-name: [7G98t5jXPmdc39u36x9DSb0cC/ny+jmdWuhB0dVG1QM=]
      ocp-aad-session-key: [iYPqL95ow6ZyfeupxgAKBGhxVsizEsS_iWHgaQKXGVHwcrmnNlHU_BVR5sMQVIFle_DNsyb_oUbGoC9RXq9H5pIPt34RQ4Inh1BQa7hIxN7KOfCv9ftDEh6jnDoFSEkNr8_HOtzfi2sJcjOR2Ui0Dg.VGje045Gobk5Yyh6kRxrp_W-EQhGn86f8mUEuMfDP0w]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=appId%20eq%20%272d794e8d-1451-4e32-bef2-3cdd2b02f81c%27
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"e4a4a67b-fc94-4da8-81f6-e6d411c0dc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/e4a4a67b-fc94-4da8-81f6-e6d411c0dc61?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"e4a4a67b-fc94-4da8-81f6-e6d411c0dc61","deletionTimestamp":null[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/e4a4a67b-fc94-4da8-81f6-e6d411c0dc61?api-version=1.6
  response:
    body: {string: ''}
    headers:
      duration: ['3561449']
      ocp-aad-diagnostics-server-name: [YPT0bBpwREL5IJMIvN9GoYV1GS3mAXpIf09yabKcdz0=]
      ocp-aad-session-key: [oXbWXtS7zuVRFSSV_vBTlgjP2XOfAYIqDGfxf9rql5czmMmdVvPzGfU7wW9oBpYnopdMPdDQr7vLNqiwiIkrI1iDiYAihho0ItKOTZsZTNzY-qVdzbAeJS4-mviEc7R7YhpfShQJn48uYEUBYeiYDQ.LAy2NxEukschcSycCttiBAVKohg08K10dKs599hx4Xc]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
version: 1
