interactions:
- request:
    body: 'b''{"identifierUris": ["http://e5e3a862-7c3e-4007-be68-7fea28a5307a"],
      "requiredResourceAccess": [{"resourceAppId": "00000002-0000-0000-c000-000000000000",
      "resourceAccess": [{"id": "5778995a-e1bf-45b8-affa-663a9f3f4d04", "type": "Scope"}]}],
      "availableToOtherTenants": false, "displayName": "cli-native-000001", "objectType":
      "Application"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"03853a9d-8094-404b-9dc9-67ec0e1ff024","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"463cfded-1134-4aef-a223-6b9a04e5f903","appRoles":[],"availableToOtherTenants":false,"displayName":"cli-native-000001","errorUrl":null,"groupMembershipClaims":null,"homepage":null,"identifierUris":["http://e5e3a862-7c3e-4007-be68-7fea28a5307a"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/03853a9d-8094-404b-9dc9-67ec0e1ff024/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/03853a9d-8094-404b-9dc9-67ec0e1ff024/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-native-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-native-000001","id":"2e9fd0ac-f532-4dff-bfae-af3d5d8d9eb2","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-native-000001 on your behalf.","userConsentDisplayName":"Access
        cli-native-000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[{"resourceAppId":"00000002-0000-0000-c000-000000000000","resourceAccess":[{"id":"5778995a-e1bf-45b8-affa-663a9f3f4d04","type":"Scope"}]}],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['18099200']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/03853a9d-8094-404b-9dc9-67ec0e1ff024/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [i+DtoxUM89+9bFveXkGXFRGtd7DaCdZe9WMwETTJUNY=]
      ocp-aad-session-key: [XCVJG7LK0U3cNCWCGLyygS20-3DtVQ2S93HpZPejOxVyi3_udoFHFQDeT4Xa7Fvk4WJy854KWQKapiMuyR9uuOcV-SvucxJics7QtYaphZd9mm3yENObXoJ3xgMYeIbv8JUTB8M622Z3BQzmw9GYHA.xfzMF9wNaeg8nawrvDndEs8ztHs7LyS02FJtuSEje80]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"identifierUris": [], "publicClient": true, "objectType": "Application"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/03853a9d-8094-404b-9dc9-67ec0e1ff024?api-version=1.6
  response:
    body: {string: ''}
    headers:
      duration: ['8751399']
      ocp-aad-diagnostics-server-name: [q5Xbh3MZA2oHL2aMV5BkPDdbnE4y3W66Ql7+EgkvqGE=]
      ocp-aad-session-key: [j3gN4wmNupxoiruwoOmX7E5_tJTdgc4XwQPC8VnXAhF92Pmy0BkZAvB0qIPZlB2_KN9GhL3m1WFk-c9T-A7K6fvvbfx39s8thqrZfzKT7eonsRM8D3vIaj15ERKWQvpz5CwSG1TrqMRMwp39KtFrnw.sdDzcyzfvGDAx3ql9JSuAJQh7V8uhSw1V8bKS_bbh1Q]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27463cfded-1134-4aef-a223-6b9a04e5f903%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['539518']
      ocp-aad-diagnostics-server-name: [68S1qiYTGdlYlteO57AcAfRdh6gxMgQ4BOpjpsClWbY=]
      ocp-aad-session-key: [sTCgtrj6Ir0FOB0GBHGrh6sHDkb7SPOgyVh3U9gywg3YC6RPzkgUwvSq891D0_qX0sV-hCvXV1nQalMfynE6qZ74-w5_PeHhlz9J4T8E4Req5A4AKFJVbOIpELUPqqqagPG4KbhmXZ6r0RaWFg05kA.380bNs50kZlBA5EloiD1A72ULGQ6MgocQka6qCLpKFU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27463cfded-1134-4aef-a223-6b9a04e5f903%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"03853a9d-8094-404b-9dc9-67ec0e1ff0[...]
[...]
