interactions:
- request:
    body: 'b''{"objectType": "Application", "displayName": "cli-graph000001", "homepage":
      "http://cli-graph000001", "identifierUris": ["http://cli-graph000001"], "availableToOtherTenants":
      false}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"6bb17b74-8471-469a-8808-9f279f42b1ae","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"56e18a8d-864a-41ac-be81-feadc0e47f7f","appRoles":[],"availableToOtherTenants":false,"displayName":"cli-graph000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://cli-graph000001","identifierUris":["http://cli-graph000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/6bb17b74-8471-469a-8808-9f279f42b1ae/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/6bb17b74-8471-469a-8808-9f279f42b1ae/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-graph000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-graph000001","id":"bd814974-0b15-429f-8ff8-3319c742ec1a","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-graph000001 on your behalf.","userConsentDisplayName":"Access
        cli-graph000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['17909083']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/6bb17b74-8471-469a-8808-9f279f42b1ae/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [nYxYw8PmkG3JXKkHL9YqY6Vm27uSkWJuXcM++f2qZKQ=]
      ocp-aad-session-key: [08hZ3XfrgbaG7EmuLUEqfiG9KyvzQXqiOL2yumMEPfcyKxLyy4tryJ7SHo7mPyj1z23W8JphWRniPWh32CJKJJTsaT93TwbaZYEP4PU2e2bGfz7XW-7fw499epkbelsd1mEIyU09CNIAGzOJJ0CkNQ.snwq-3YjDVs1lhO0MY980--bgkItqME0H_Amm6SCZiM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli-graph000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"6bb17b74-8471-46[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/6bb17b74-8471-469a-8808-9f279f42b1ae?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"6bb17b74-8471-469a-8808-9f279f42b1ae","deletionTimestamp":null[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=startswith%28displayName%2C%27cli-graph000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"6bb17b74-8471-469a-8808-9f279f42b1ae",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli-graph000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['1191134']
      ocp-aad-diagnostics-server-name: [hXM0y5tf4jtAu0XM9IyMZVs+30ozRFf/FDYUTguUD7g=]
      ocp-aad-session-key: [cIDF4LTMocc7dH5PqvLwkCw9CdPrlesSHrA2h0z-tdllsQUjLYsrGGBk9SA79HQu2KExHcBf0DsVkqsl6P0GHYY5b12cXMFnJ8z6vKQ85deRev7FpExO2fGkem6pMCI7ilqLMJA3zYFHGHdFk3OdWQ.PCn-qfaGxd2PlGYLKSwU1EgJL34PTScuvvpDKsr_Bh0]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
version: 1
