interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['595732']
      ocp-aad-diagnostics-server-name: [Erv8iAqpQP0Pq93sSOkfOz0sAiI9iC1M3SLSo0/7IBs=]
      ocp-aad-session-key: [bFcGNaVg5_2cS7Ed2xGkDPmlKB-6Mo31mfPpvLZdenGilDUyerckVX4cUiFmKbYOjkcz5n4Xy1OkDM8sjdnryPkvBKQQDvVmsFPygv2E1raEk_-syVwmu-YJlN-IdW7a6BTcbDWHNuE62f-RSEQmbA.nKEwRPYDVlH8hVOy86kPtD-nE7na02A9JuATkRU02yk]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "identifierUris": ["http://cli-app-000001"],
      "passwordCredentials": [{"keyId": "f81cc9b4-78e3-4c75-bc63-cb0d8d15b99c", "startDate":
      "2019-02-24T03:45:34.758842Z", "endDate": "2020-02-24T03:45:34.758842Z", "customKeyIdentifier":
      "//5yAGIAYQBjAA==", "value": "74bb449e-7d15-4d67-b9e6-bddd27053381"}], "objectType":
      "Application", "homepage": "https://cli-app-000001", "displayName": "cli-app-000001"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"e4e1cefd-5277-4d53-bcee-b90e969c746e","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"4848004a-876e-453a-8ac4-2be3250b87be","appRoles":[],"availableToOtherTenants":false,"displayName":"cli-app-000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://cli-app-000001","identifierUris":["http://cli-app-000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/e4e1cefd-5277-4d53-bcee-b90e969c746e/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/e4e1cefd-5277-4d53-bcee-b90e969c746e/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"f9b0e846-7c80-4fec-84b0-3ba608105b0c","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-02-24T03:45:34.758842Z","keyId":"f81cc9b4-78e3-4c75-bc63-cb0d8d15b99c","startDate":"2019-02-24T03:45:34.758842Z","value":null}],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['7373750']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/e4e1cefd-5277-4d53-bcee-b90e969c746e/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [ZjHZO3O4NIf+M/e/Wc/l43gSl5nmFS4mWXsN6QDBGBw=]
      ocp-aad-session-key: [fOyGQqSQHtJszRmJ5VKnGrMxOpyxBO69C0F0EuuGfdOz34cAGt2r3QFEgsv-Zgzce_frwramJn9LfqK8Y10H2619_86lz6XrRra0M_jiacNgXIn90FUvRVRKCOSeNJe0-iCtltXjkkfrXbLdCyyh1w.J-u0KU4p4nAzyEiRwU1o68E2m8YVPfPcWhcx0htPtYI]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"accountEnabled": "True", "appId": "4848004a-876e-453a-8ac4-2be3250b87be",
      "objectType": "ServicePrincipal"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"1c4549fa-52de-40e1-bf23-a5f43c0f5d52","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"4848004a-876e-453a-8ac4-2be3250b87be","appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"f9b0e846-7c80-4fec-84b0-3ba608105b0c","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["4848004a-876e-453a-8ac4-2be3250b87be","http://cli-app-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['2497829']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/1c4549fa-52de-40e1-bf23-a5f43c0f5d52/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [8cABrxGeuUtXZIb4tLTbZKP7GAyp5Rz3TMI9wedexHQ=]
      ocp-aad-session-key: [tNYbT3qjxRQn0UN8SUJYLF9oEMtlxW7lbSJG_pYQN-Qr5nPAf59p5Ai8al3pqsEYj2vptukI11gXxGxIJ5XcJyamVYY-oA6XNCFHwLlmLQPHTKYXNdnbWL6uDDE9LTSE0OIRk9MfgO1K3UKI67gOnQ.Do5t17w5rIr3F7l6bqj0ac0pVfetVcLx6Jr2HzzynCs]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%274848004a-876e-453a-8ac4-2be3250b87be%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['535994']
      ocp-aad-diagnostics-server-name: [cNcMQJ1oxb51WRRiXzCCai1HkMelF0SUywxI2UqetqU=]
      ocp-aad-session-key: [BVCW1eRz8GSc2G_mhxj-U42OQP-m5eQaYQylEbH1MOIDFqNxnO9ym3UbOL3sIKOJr0apMIlDORDBVWA3DG03tRZjeg-dslhyxhgJiWfGJmXHzOj3rvzaLeYvSPoRFrN90-2ICCRcUu9pi5v6l-ZiKg.AQVw4CLPMbOoTT7uuW7xbMpbti80By7TW2jaiFeQpMA]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%274848004a-876e-453a-8ac4-2be3250b87be%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"e4e1cefd-5277-4d53-bcee-b90e969c74[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/e4e1cefd-5277-4d53-bcee-b90e969c746e?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"e4e1cefd-5277-4d53-bcee-b90e969c746e","deletionTimestamp":null[...]
- request:
    body: '{"objectType": "Application", "requiredResourceAccess": [{"resourceAccess":
      [{"type": "Scope", "id": "a42657d6-7f20-40e3-b6f0-cee03008a62a"}], "resourceAppId":
      "00000002-0000-0000-c000-000000000000"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/e4e1cefd-5277-4d53-bcee-b90e969c746e?api-version=1.6
  response:
    body: {string: ''}
    headers:
      duration: ['5374770']
      ocp-aad-diagnostics-server-name: [Jyamh40I/riKJflXwk3LHmaI3Lsq6osSe+/rd7Qerq0=]
      ocp-aad-session-key: [xi5GrPOh_ELbFAKev6uHaV59KmYteI9FW2QWqO_qcVC0NRRZYzjxSqog1ZI8d7jpJX1AA__zIUssHrKe2-sF426RHsxihfqxbnhvheYBTnoLjNcsc9YEQo3Te30t9Kk1p5cT6BD89TiAl8uUMgjFwA.g8RJpY-ENISQ-PftZ4qbv9A6vNiWuukOSBpoSIrbnpY]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%274848004a-876e-453a-8ac4-2be3250b87be%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2700000002-0000-0000-c000-000000000000%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"fba255ef-08f7-4f9b-b673-318fcb87f042","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Windows
        Azure Active Directory","appId":"00000002-0000-0000-c000-000000000000","appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read and write all domain properties without a signed in user.  Also
        allows the app to add,  verify and remove domains.","displayName":"Read and
        write domains","id":"aaff0dfd-0295-48b6-a5cc-9f465bc87928","isEnabled":true,"value":"Domain.ReadWrite.All"},{"allowedMemberTypes":["Application"],"description":"Allows
        the app to create, read, update and delete applications and service principals
        without a signed-in user.  Does not allow managem[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?$filter=clientId%20eq%20%271c4549fa-52de-40e1-bf23-a5f43c0f5d52%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['528535']
      ocp-aad-diagnostics-server-name: [beDiFJigAIn0DsweUo9b0LUsK5GXPcxyO2/EYM1RVJ0=]
      ocp-aad-session-key: [thg0wNCLljjrQk3JMkadCS3gtO_eeyBqZUrOih162GbucPu9_FpCOvM5MVxz2P1YQmIGnp8UmHctL7u83Ia3tW348DSNxLkVOymQ0z49jtARIjh-YdWujhVffkJHRzoTzM2g0tfWGOtRILJu0Kpg_A.2iNeH7BM1dLIbeNthrx9N2YxaWHjhDHQcp3ptkdU3hU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"startTime": "2019-02-24T03:45:39.745595", "clientId": "1c4549fa-52de-40e1-bf23-a5f43c0f5d52",
      "expiryTime": "2020-02-24T03:45:39.745595", "odata.type": "Microsoft.DirectoryServices.OAuth2PermissionGrant",
      "resourceId": "fba255ef-08f7-4f9b-b673-318fcb87f042", "scope": "user_impersonation",
      "consentType": "AllPrincipals"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants/@Element","clientId":"1c4549fa-52de-40e1-bf23-a5f43c0f5d52","consentType":"AllPrincipals","expiryTime":"2020-02-24T03:45:39.745595","objectId":"-klFHN5S4UC_I6X0PA9dUu9Vovv3CJtPtnMxj8uH8EI","principalId":null,"resourceId":"fba255ef-08f7-4f9b-b673-318fcb87f042","scope":"user_impersonation","startTime":"2019-02-24T03:45:39.745595"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['2381028']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants/-klFHN5S4UC_I6X0PA9dUu9Vovv3CJtPtnMxj8uH8EI']
      ocp-aad-diagnostics-server-name: [XC37a6rlJsCeGLMfJenTNZI4+ije7D/luiwxI9jCogI=]
      ocp-aad-session-key: [lQnmlrJie3qICXkNbSUogB8qrwDXWuTTPTcf9bxnvs_bXGxwAUHWd0PcJJWZD5q3VSwpcFC1TgdJ0nWdsJPIjEX7Oebg18W0dg5Z_anZfMm6SzG6boo3yMxSp6npcI0yqVgSelD2Z-ul0zMYNr_Mig.5tiUzc32T8C1imciIOXvy2BuIv63WbFUuN02fIN-XhE]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants/-klFHN5S4UC_I6X0PA9dUu9Vovv3CJtPtnMxj8uH8EI?api-version=1.6
  response:
    body: {string: ''}
    headers:
      duration: ['2070968']
      ocp-aad-diagnostics-server-name: [rFMv6jCt7k8n9zj2NyMLkO1fEa5ijjfeyD4ZP3WWKYs=]
      ocp-aad-session-key: [NqzoAJkpnFvlcUX0Z7S2vEfGoqMrTSf3H-ejDZcVckpgnYC_iLfscbjdjHjOVgNRjU5063aQ3v6NJUj3KV7572BatProPRBmX4g_FlJF2IDJc6jI3v6DHY_XgOHo5aozle8_TCB-ZuYK9IONtYjuLw.2qCUQSWHmQ1BvF1r4u1qrL6Fhm7AK3ReQ_zZda1pH7I]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
[...]
